/* Global */

.flex{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: rgb(17, 0, 255);
}

body{
  margin: 0 15%;
  font-family: 'Merriweather', serif;
  background: #dff6ff;
}

h1{
  margin: 0;
  margin-top: 10px;
}

p{
  font-size: 20px;
  margin: 15px 50px;
}

/* End Global */

/* Grid */

.college-card{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px auto;
  grid-gap: 0.25em;
  background: #fff;
  grid-template-areas:
  "header header"
  "info map"
}

.card-header{
  grid-area: header;
  background: rgba(211, 211, 211, 0.74);
}

.card-info{
  grid-area: info;
  background: rgba(255, 255, 188, 0.74);
  padding-left: 20px;
}

.card-map{
  grid-area: map;
  background: rgba(166, 172, 255, 0.685);
}

/* End Grid */

/* Body */
.college-card{
  border: 1px;
  padding: 10px;
  margin: 15px 10px;
  box-shadow: 2px 2px 5px #ccc;
}

#map{
  width: 100%;
  height: 100%;
}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.text{
  flex-basis: 80%;
}

button {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ff2323;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input{
  border-radius: 3px;
  border: 1px solid;
  height: 18px;
  margin-right: 15px;
}

.map-btn{
  border: none;
  color: #011097;
}

button:hover{
  cursor: pointer;
}

#loading{
  display: none;
}

#error{
  display: none;
}

#earnings{
  margin-bottom: 15px;
}

/* End Body */

/* Mobile Styles */

@media only screen and (max-width: 600px) {
  body{
    margin: 0;
  }

  p{
    font-size: 12px;
    margin: 8px 5px;
  }

  .college-card{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 400px;
    grid-gap: 0.25em;
    background: #fff;
    grid-template-areas:
    "header header"
    "info info"
    "map map"
  }

  #earnings{
    max-width: 95%;
    margin: auto;
  }
}

/* End Mobile Styles */